# Database - PostgreSQL
DATABASE_URL="postgresql://user:password@localhost:5432/dxb_inventory?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"

# Dev only: show Register link on login page (set to "true" in development)
NEXT_PUBLIC_IS_DEV=true

# When set to "true", seed will clear all DB data before reseeding (dev only; never set in production)
IS_DEV=true

# .env.local
BLOB_READ_WRITE_TOKEN=your_token_here
